body {
  text-align: center;
}

.register-box {
  width: 400px;
  border: 2px solid #0d6efd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding: 10px;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.greeting-main h1{
  display: block;
  width: 600px;
  margin-top: 200px;
}

.form-container {
  width: 400px;
  border: 2px solid #0d6efd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 10px;
}