.login-box {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding: 30px;
  border: 2px solid #0d6dfd56;
  border-radius: 20px;
  box-shadow: 0 0 5px #bbbbbb,
  0 0 25px #bbbbbb; 
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-container {
  width: 400px;
  border: 2px solid rgb(202, 165, 42);
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 20px;
  color: rgb(202, 165, 42);
  box-shadow: 0 0 5px #bbbbbb, 0 0 25px #bbbbbb;
}

a {
  text-decoration: none;
}

.greeting-main h1{
  display: block;
  width: 600px;
  margin-top: 200px;
}

.container-fluid {
  padding-bottom: 10px;
}

a.btn {
  width: 140px;
  text-transform: uppercase; 
  color: #330867;
  padding: 0; 
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 10px;
  border: 1px solid #030006;
}

a.btn:hover {
  background: #330867;
  color: #fff;
}

ul .admin-btn:hover {
  color: gold;
  background: #dc3545;
}

ul .admin-btn:nth-child(1) {
  margin-right: 100px;
  text-transform: none;
  width: 100px;
}

ul .last-btn {
  margin-left: 20px;
}

.login-box {
  font-size: 15px;
  color: rgb(202, 165, 42);
  padding-bottom: 50px;
}

.btn-primary {
  --bs-btn-bg: none;
}

.card{ 
  --bs-card-bg: rgba(255, 255, 255, 0.1);
}

.card-body {
  position: absolute;
  content: "";
  height: 10rem;
  z-index: 1;
  top: 98%;
}

.card-body a.btn {
  position: absolute;
  content: "";
  z-index: 1;
  top: -30%;
  left: 35%;
  background-color: rgba(160, 113, 240, 0.9);
  box-shadow:  0 0 7px #bbbbbb;
}


.card-title {
  color:rgba(209, 209, 209, 0.9);
}

/* =======> стили WatchView slider*/


 /* .slider {
  position: relative;
  height: 500px;
}
.slider-items {
  height: 100%;
}  */

.watch-card {
  width: 30rem;
  height: 24rem;
  margin-bottom: 10rem;
}

/* .watch-img  {
  width: 300px;
  height: 300px;
} */

.slider-item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-item-active {
  display: block;
}

.slider-arrows {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.slider-arrow:hover {
  background: rgba(0,0,0,0.3);
}

.slider-arrow-next {
  right: 0;
}

.slider-dots {
  position: absolute;
  bottom: 65px;
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin-right: 5px;
  cursor: pointer
}

.slider-dot-active {
  background: #fff;
}

.slider-dot:hover {
  background: #fff;
}

